/*desktop*/
	@media screen and (min-width: 768px) {
		.nav-link {
		padding-bottom: 5px;
		}
		.nav-link:hover::after {
			content: '';
			display: block;
			border-bottom: 3px solid;
			width: 80%;
			margin: auto;
		}
		.jumbotron .display-6 {
			padding-top: 250px;
			font-size: 62px;
		}
	}
/*akhir desktop*/



body {
	margin: auto;
}


/*Navbar*/
	.navbar {
		background-color: rgba(0, 0, 0, 0.7);
		backdrop-filter: blur(20px);
	}
	.navbar-brand, .nav-link {
		color: white !important;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
	}


/*jumbotron*/
	.jumbotron {
		background-image: url(img/banner1.jpg);
		background-size: cover;
		height: 600px;
		margin-top: -75px;
		text-align: center;
		position: relative;
	}
	.jumbotron .display-6 {
		color: #fff;
		font-weight: 200;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
		padding-bottom: 30px;
	}
	.jumbotron .display-6 span {
		font-weight: 400;
	}
	.jumbotron::after {
		content: '';
		display: block;
		width: 100%;
		height: 75%;
		background-image: linear-gradient(to top, rgba(0,0,0, 1), rgba(0,0,0,0));
		position: absolute;
		bottom: 0;
	}
	.jumbotron .container {
		z-index: 1;
		position: relative;
	}
	.interaksi {
		background-image: url(img/banner2.jpg);
		background-size: cover;
		border-bottom-right-radius: 40px;
		border-bottom-left-radius: 40px;
	}
	.menu {
		border-radius: 25px;
		background-color: rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(12px);
		text-align: center;
	}
	.icon {
		text-align: center;
	}
	.tmenu {
		width: 50px;
		height: 50px;
		border-radius: 25px;
	}
	.formlogin {
		border-radius: 25px;
		background-color: rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(12px);
	}
	.display2 {
		background-image: url(img/banner3.jpg);
		background-size: cover;
		border-top-right-radius: 40px;
		border-top-left-radius: 40px;
		border-bottom-right-radius: 40px;
		border-bottom-left-radius: 40px;
	}
	.news {
		border-radius: 25px;
		background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255,222, 255, 0.3));
		backdrop-filter: blur(12px);
	}
	.card, .card img {
		border-radius: 25px;
	}
	.tprevnext {
		border-radius: 25px;
		background-color: rgba(0, 0, 0, 0.7);
		height: 100px;
		width: 40px;
	}

	/*error*/
	.error {
		background-image: url(img/banner4.jpg);
		background-size: cover;
		min-height: 100vh;
		position: relative;
	}
	.jendela {
		border-radius: 25px;
		background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255,222, 255, 0.3));
		backdrop-filter: blur(15px);
		min-height: 80vh;
	}

/*footer*/
footer {
	background-color: #3f3f3f;
}


/*Utility*/
	.tombol {
		border-radius: 25px;
	}
	.darigoogle {
		width: 100%;
		height: 60vh;
		border-radius: 12.5px;
	}
	.dropdown-menu {
		border-radius: 12.5px;
		background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255,222, 255, 0.5));
		backdrop-filter: blur(15px);
	}
	.lingkaran1 {
		margin-top: -150px;
		width: 250px;
		height: 250px;
		background: #fff;
		border-radius: 100%;
		position: absolute;
		z-index: -2;
	}
	.lingkaran2 {
		margin-top: -450px;
		width: 150px;
		height: 150px;
		right: 10%;
		background: #fff;
		border-radius: 100%;
		position: absolute;
		z-index: -2;
	}
	.lingkaran3 {
		margin-top: -250px;
		width: 75px;
		height: 75px;
		right: 10%;
		background: #fff;
		border-radius: 100%;
		position: absolute;
		z-index: -2;
	}
	.bg-loader {
		background-color: rgba(255, 255, 255, 0.5);
		backdrop-filter: blur(15px);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 9999;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.bg-loader p {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 9999;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #0E89A2;
	}
	.bg-loader .loader {
		width: 120px;
		height: 120px;
		border: 4px solid rgba(255, 255, 255, 0);
		border-radius: 50%;
		border-top-color: #0E89A2;
		border-bottom-color: #0E89A2;
		animation: muter .8s linear infinite;
	} 
	@keyframes muter {
		100% {
			transform: rotate(360deg);
		}
	}
/*akhir utility*/


/*Mobile*/
	@media screen and (max-width: 768px) {
		.container {
			width: 80%;
		}
		.jumbotron {
			margin-top: 0px;
			height: 300px;
		}
		.jumbotron h1 {
			padding-top: 90px;
			font-size: 25px;
		}
		.jumbotron .display-6 {
			padding-top: 110px;
		}
		.carousel {
		margin-bottom: 20px;
		}
	}
/*akhir mobile